.container {
  max-width: 1140px;
  margin: 0 auto;
  background: lavender;
}

.flex-box {
  display: flex;
}

body {
  font-family: "Trip Sans Regular", sans-serif;
  font-size: 16px;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  width: 200px;
}

header .fa-solid {
  display: none;
}

.primary-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Trip Sans Medium";
}

.primary-nav .menu-item {
  /* background: red; */
  padding: 15px;
}

.primary-nav button {
  font-size: 14px;
  background: black;
  color: white;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

h1 {
  margin-top: 25px;
  font-size: 54px;
  font-weight: bold;
  font-family: "Trip Sans Medium";
}

h1 span {
  color: #ff5d5d;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  font-family: "Trip Sans Medium";
}

h3 {
  font-size: 18px;
  font-weight: bold;
  columns: grey;
  font-family: "Trip Sans Medium";
  margin-bottom: 20px;
  font-weight: bold;
}

.secondary-nav {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.secondary-nav p {
  flex: 1;
  height: 25px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.secondary-nav .nav-hidden {
  display: none;
}
.images {
  /* background: salmon; */
  margin-top: 50px;
  height: 400px;
  display: flex;
  gap: 2px;
}

.images .left {
  flex: 4;
  /* background: blue; */
  background-image: url("../img/quais.jpg");
}

.images .right {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.images .right-top {
  /* background: green; */
  background-image: url("../img/moto.jpg");

  flex: 1;
}

.images .right-bottom {
  /* background: yellow; */
  background-image: url("../img/tour-eiffel.jpg");
  flex: 1;
}

.images .center-background {
  background-size: cover;
  background-position: center;
}

button {
  background: black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.text-warning {
  color: grey;
  font-weight: bold;
  margin-bottom: 50px;
}

/** Ville lumièère **/

.text-city-intro {
  flex: 1;
  font-size: 14px;
}

.text-city-empty {
  flex: 1;
}

/* Les immanquables **/

/* Réglage général **/
.must-0 {
  height: 200px;
  display: flex;
  gap: 10px;
}

.must-0 p {
  font-size: 14px;
}

/*******************************************************************
/* Partie gauche textuelle */
/******************************************************************/
.must-1 {
  /* background: green; */
  flex: 1;
}
/* L'espace en dessous du texte */
.must-1 p {
  margin-bottom: 10px;
}

/* Le lien "Tout afficher" **/
.must-1 a:link {
  color: black;
  font-size: 12px;
}

/*******************************************************************
/* Partie droite avec les images */
/******************************************************************/

/* La div qui englobe les 3 images et qui occupe les 3/4 de l'espace*/
.must-2 {
  display: flex;
  flex: 3;
  overflow-x: scroll;
  gap: 15px;
}

/* Les div englobant les images qui occupent chacune la même largeur */

/* Le positionnement relatif des parents des images qui va servir à positionner le coeur */

.scroll-item {
  position: relative;
  flex: calc((100% / 3) - 10px);
  flex-shrink: 0;
}
/* Les images de la partie "Se divertir" : utilisées en background */
.divertir-21 .img-must {
  background-image: url("../img/eiffeltoren.jpg");
}
.divertir-22 .img-must {
  background-image: url("../img/cour-napoleon-et-pyramide.jpg");
}
.divertir-23 .img-must {
  background-image: url("../img/arc-de-triomphe-at-night.jpg");
}
.divertir-24 .img-must {
  background-image: url("../img/vue-de-la-cour-d-honneur.jpg");
}
.divertir-25 .img-must {
  background-image: url("../img/the-bookstore.jpg");
}
/* Les images de la partie "Se reposer" : utilisées en background */
.reposer-21 .img-must {
  background-image: url("../img/bristol.jpg");
}
.reposer-22 .img-must {
  background-image: url("../img/reserve.jpg");
}
.reposer-23 .img-must {
  background-image: url("../img/four-seasons.jpg");
}

/* Les images de la partie "Se restaurer" : utilisées en background */
.restaurer-21 .img-must {
  background-image: url("../img/verjus.jpg");
}
.restaurer-22 .img-must {
  background-image: url("../img/faubourg.jpg");
}
.restaurer-23 .img-must {
  background-image: url("../img/rue-nil.jpg");
}
.img-must img {
  height: 20px;
  width: 20px;
}

/* Quelques éléments génériques : cercle avec coeur, positionnement des images, liens*/
.circle {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  top: 10px;
  right: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: green;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}
.small-logo {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.img-must {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 80%;
}

.link-must a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
  font-size: 12px;
  flex: 1;
}

.hide-scrollbar {
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

/* Large */
@media (max-width: 1184px) {
  .container {
    max-width: 1024px;
    padding: 20px;
    background: rgb(219, 219, 162);
  }
  .secondary-nav {
    flex-wrap: wrap;
  }
  .secondary-nav p {
    /* min-width: 150px;
    max-width: 200px; */
    flex: calc((100% / 4) - 80px);
    /* flex-shrink: 0; */
  }

  .secondary-nav .nav-hidden {
    display: flex;
  }
}

/* Desktop - Labtop */
@media (max-width: 1024px) {
  .container {
    max-width: 968px;
    padding: 20px;
    background: rgb(79, 59, 107);
  }

  .secondary-nav {
    flex-wrap: wrap;
  }
  .secondary-nav p {
    min-width: 150px;
    max-width: 200px;
    /* flex-shrink: 0; */
  }
  .secondary-nav .nav-hidden {
    display: flex;
  }

  .menu-item span {
    display: none;
  }
}

/* Téléphones / Tablettes */
@media (max-width: 768px) {
  body {
    font-size: 50%;
  }
  .container {
    max-width: 768px;

    padding: 20px;
    background: rgb(10, 238, 64);
  }
  .secondary-nav {
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .menu-item {
    display: none;
  }

  .images .right {
    display: none;
  }

  .must-0 {
    flex-direction: column;
  }

  /* .scroll-item {
    flex: none;
    width: 500px;
    height: 500px;
  } */

  .scroll-item {
    /* width: 100vw;
    height: 300px;
    flex: 1; */
    position: relative;
    flex: calc(100% - 60px);
    flex-shrink: 0;
  }

  header img {
    display: none;
  }
  header .fa-solid {
    display: block;
  }
}
